@inherits LayoutComponentBase
@inject NavigationManager Navigation

<MudThemeProvider IsDarkMode="_isDark"/>
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1">
        <MudStaticNavDrawerToggle DrawerId="nav-drawer" Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" />
        <MudText Typo="Typo.h6" Class="ml-3">Pro Consulta</MudText>
        <MudSpacer />
        <MudStack Row>

            @if (_isDark)
            {
                <MudIconButton @onclick="ThemeToggle" Icon="@Icons.Material.Filled.WbSunny" Color="Color.Inherit"/>
            }
            else
            {
                <MudIconButton @onclick="ThemeToggle" Icon="@Icons.Material.Filled.DarkMode" Color="Color.Inherit"/>      
            }

            <AuthorizeView>
                <MudIconButton Icon="@Icons.Material.Filled.Logout" @onclick="LogOff" Color="Color.Info" />
            </AuthorizeView>

        </MudStack>

        <MudIconButton Icon="@Icons.Material.Filled.Home" Href="/" Color="Color.Inherit" Edge="Edge.End" />
    </MudAppBar>
    <MudDrawer id="nav-drawer" @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <NavMenu />
    </MudDrawer>
    <MudMainContent Class="pt-16 pa-4">
        @Body
    </MudMainContent>
</MudLayout>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private bool _drawerOpen = true;
    private bool _isDark = true;

    private void ThemeToggle()
    {
        _isDark = !_isDark;
    }

    private void LogOff()
    {
        Navigation.NavigateTo("Account/Manage/logout", forceLoad: true);
    }

}


